<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %> 

<body>
	<!-- include Header -->
	<% if(locals.user.mail){ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } else{ %> 
		<%- include('./partials/header.ejs') %>
	<% } %> 	
	<!-- /Header -->




	<div class="container-fluid">
		<div class="row main-form bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo">
					<h2><img src="/images/autosell/logo.png" alt=""></h2>
				</span>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Agregar Producto</h2>
					</div>
					<div class="row">
						<form method="POST" class="form-group" enctype="multipart/form-data">
							<div class="row">
								<input type="text" name="marca" id="mail" class="form__input" placeholder="Marca">
							</div>
							<div class="row">
								<input type="text" name="modelo" id="modelo" class="form__input" placeholder="Modelo" />
							</div>
							<div class="row">
								<input type="text" name="color" id="contrasena" class="form__input"
									placeholder="Color">
							</div>
							<div class="row">
								<input type="number" name="anio" id="anio" class="form__input" placeholder="Año" />
							</div>
							<div class="row">
								<input type="text" name="caracteristicas" id="caracteristicas" class="form__input" placeholder="Caracteristicas" />
							</div>
							<div class="row">
								<input type="integer" name="precio" id="precio" class="form__input" placeholder="Precio">
							</div>
							<div class="row">
							</label>
									<input type="file" class="form-control" id="product" name="product"> </label>	
							</div>
							<div class="row">
								<input type="submit" value="Agregar" class="btn">
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--include footer -->
	<%- include("./partials/footer") %> 

	<!-- /footer -->
</body>

</html>